.IndividualProduct {
  display: flex;
  justify-content: center;
}

.details {
  width: 40%;
  margin-left: 10%;
}
.prod-img {
  width: 40%;
}
.prod-img > img {
  width: 100%;
}
.add-to-cart-button {
  width: fit-content;
  background-color: blue;
  color: #fff;
  padding: 1.2%;
  border-radius: 3px;
}

.add-to-cart-button:hover {
  cursor: pointer;
}
.addRemove {
  width: 60%;
  display: flex;
  flex-direction: row;
}

.addRemove > div {
  margin: 2%;
  padding: 2%;
}

.remove,
.add {
  cursor: pointer;
  background-color: blue;
  color: #fff;
  border-radius: 3px;
}

@media only screen and (max-width: 767px) {
  .IndividualProduct {
    flex-direction: column;
    align-items: center;
  }
  .prod-img {
    width: 85%;
  }
  .details {
    width: 85%;
  }
}
.variants {
  margin: 1%;
  margin-left: 0%;
}
.variant {
  padding: 2.5%;
  margin: 2%;
  border: 1px solid rgb(101, 101, 101);
  display: inline-block;
  border-radius: 10%;
}
.variant:hover {
  cursor: pointer;
}
.variant:first-of-type {
  margin-left: 0%;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .details {
    margin-left: 30%;
  }
}
